{% extends 'base.html.twig' %}

{% block title %}salle{% endblock %}

{% block body %}

<h2 class='text-center'>Toutes les infos de la salle</h2>

	<div class="row align-items-center pt-3 pb-3">
		{# <div class="card p-4 rounded-3"> #}
        <h3 class="text-center">{{ oneSalle.nom }}</h3>
	    <h5 class="text-center">Capacité de la salle : </h5>
        <h5 class="text-center"> {{ oneSalle.nbPlaces }} places</h5>
        <hr>
		<h5 class="text-center">Prix hebdomadaire : </h5>
        <h5 class="text-center"> {{ oneSalle.prixHebdo }}€</h5>
        <hr>
		<h5 class="text-center">Matériel : </h5>
		{% for item in oneSalle.materiel %}
		
		<h5 class="text-center">{{ item.nom }}</h5>
		{% endfor %}
        {# </div> #}
		<hr>
        <h5 class="text-center">Logiciel :</h5>
		{% for item in oneSalle.logiciel %}
		<h5 class="text-center pb-2">{{ item.nom }}</h5>
		{% endfor %}
        <hr>
        
		<h5 class="text-center">Ergonomie :</h5>
		{% for item in oneSalle.ergonomie %}
		<h5 class="text-center pb-2">{{ item.nom }}</h5>
		{% endfor %}
		<hr>
		{# </div> #}
        </div> 
		</div>
	</div>

	<hr class="text-white">

	<div class="col-md-12 text-center">
	<a href={{ path('app_reservation', { id: oneSalle.id })}} class="w-50 btn btn-lg btn-primary mb-3">Pré-réserver</a>
	<br>
		<a class="w-50 btn btn-lg btn-primary" href={{ path('app_salle') }}>Revenir à toutes les salles</a>
		
	</div>



{# <h4>Vous avez choisi la </h1> #}

{% endblock %}